/* Mobile first */
.accordion {
  max-width: 90%;
  margin: 4vh auto;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vh;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vw;
  background: #3b8d5d9d;
  border-radius: 3vw;
}

label {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  color: aliceblue;
  cursor: pointer;
}

svg {
  height: 3vh;
  opacity: 0;
  transition: all .4s;
}

.content {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  transition: all .7s;
}

.content img {
  max-height: 30vh;
  padding-bottom: 3vh;
}

input {
  display: none;
}

input:checked ~ .content {
  height: 100%;
  opacity: 1;
}

input:checked ~ label svg {
  opacity: 1;
}

/* 
li:hover .content {
  height: 100%;
  opacity: 1;
}
.accordion:hover svg {
  opacity: 0.9;
  transform: rotate(-45deg);
}
.accordion:active,
label:active {
  filter: brightness(.8);
  cursor: grabbing;
} */